/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
*.webm
*.mp4
node_modules
/config/*.secret.exs
.elixir_ls/
frames/
rife/
/lib/scripts/model
/lib/scripts/train_log
/output
/priv/static

Do the live animation test
do it with the doll
see how much control level you can get