<!DOCTYPE html>
<html>
  <head>
    <script data-trunk src="./player.js">   </script>
    <script data-trunk src="./playgraph.js">   </script>
    <link data-trunk rel="copy-dir" href="../src/trailer/main" > </link>
    <title> <%= game_title %> </title>
        <style>
      body {
        cursor: none;
      }
      #webgpuCanvas {
        width: 1920;
        height: 1080;
        background-color: black;
        border: 1px solid green;
      }
    </style>
  </head>
  <body>
    <div id="videoNameDisplay">Video Name: <span id="currentVideoName">Loading...</span></div>
    <div id="userInputDisplay">Loading...</div>
    <canvas id="webgpuCanvas" width="1920" height="1080"></canvas>
  </body>
</html>
