window.Playgraph = {
  playgraphs: {
    <%= playgraph_name %>:  <%=playgraph %>,
  },
  getPlaygraph(name) {
    try {
      return window.Playgraph.playgraphs[name][0];
    } catch(exc) {
      alert("Playgraph not found: " + name);
    }
  }
};

// next up is controls and exporting graph from emulsion like this