<!DOCTYPE html>
<html>
  <head>
    <script data-trunk src="./player.js">   </script>
    <script data-trunk src="./playgraph.js">   </script>
    <link data-trunk rel="copy-dir" href="../src/trailer/main" > </link>
    <title> <%= game_title %> </title>
  </head>
  <body>
    <div id="videoNameDisplay">Video Name: <span id="currentVideoName">Loading...</span></div>
    <div id="userInputDisplay">Loading...</div>
    <canvas id="webgpuCanvas" width="640" height="480" style="display: none"></canvas>
    <video id="videoA"></video>
    <video id="videoB" style="display: none"></video>
  </body>
</html>
